* {
    box-sizing: border-box;
    font-family: serif;
  }

   
  article {
    float: left;
    padding: 100px;
    width: 50%;
    height: 100%;
    background-color: #f1f1f1;
  }

  .home1{
    width: 100vw;
  }

  
#grafico {
  background-color: #ee82ee;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 60%;
  margin-inline: auto;
  padding: 0;

}

#grafico img {
  width: 100%;
}

  
/*Mobile First*/

/*Tablet*/

@media (min-width:769px) {
  body {
    background-color: coral;
    color: #fff;
  }
  p, li, a, h1 {
    color: black;
    text-align: center;
  }
  .home1 {
    width: 100%;
    padding: 100%;
  }
}

@media (max-width:768px) {
  nav{
    width: 100vw;
  }

  article{
    width: 50%;
  }

  .navegacao{
    width: 50vw;
    min-width: unset;
  }
}

/*Smartphone*/

@media (max-width: 425px) {
  .home1,
  .home2,
  .navegacao,
  article  
   {
    width: 100vw;
    padding: 20px;
    min-width: 320px;
  }
}